// BREAKPOINTS
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 766px;

// GENERAL COLORS
$pri-color: #1795e2;
$sec-color: #19c0a2;
$pri-color-alt: #40abec;
$sec-color-alt: #00ddbb;

$pri-color-bg: #f0f9fc;
$sec-color-bg: #eefffc;

$text-color: #03111a;
$text-color-alt: #a4a8ac;
$divider-color: #e1e9ef;
$border-color: #b6bdc3;

$transparent: rgba(255, 255, 255, 0.3);
$orange: #e68c12;
$yellow: #ffde56;
$green: #007312;
$mint: #c9e465;
